<Settings>
  <Section Name="Window">
    <Setting Name="Width" Value="1600" />
    <Setting Name="Height" Value="900" />
    <Setting Name="Fullscreen" Value="false" />
  </Section>
  <Section Name="Sound">
    <Setting Name="MasterVolume" Value="0" />
    <Setting Name="MusicVolume" Value="0.5" />
    <Setting Name="SFXVolume" Value="0.5" />
    <Setting Name="UIVolume" Value="0.5" />
  </Section>
  <Section Name="Controls">
    <Setting Name="MoveUp" Value="W,Up,Space" Type="Keyboard" />
    <Setting Name="MoveDown" Value="S,Down" Type="Keyboard" />
    <Setting Name="MoveLeft" Value="A,Left" Type="Keyboard" />
    <Setting Name="MoveRight" Value="D,Right" Type="Keyboard" />
    
    <!-- <Setting Name="Interact" Value="Right" Type="Mouse" /> -->
  </Section>
</Settings>